* {
  margin: 0;
  padding: 0;
}

pre,
code {
  font-family: monospace, monospace;
}
pre {
  overflow: auto;
}
pre > code {
  background-color: rgb(207, 205, 205);
  display: inline-block;
  padding: 1rem;
  word-wrap: normal;
}
